@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-red: #fb6470;
  --color-dark: #353541;
  --color-white: #fff;
  --color-blue: #0093b5;
  --border-color: #8e373e;

  --font-size-text: 16px;
  --font-size-title: 24px;
  --font-size-heading: 32px;
  --font-size-main-heading: 48px;
  --font-weight-regular: 400;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}
